body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(4, 22, 4, 0.548);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-form {
    background-color: #012e17;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #92a192;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.btn-pay {
    background-color: #044906;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-pay:hover {
    background-color: #368e3d;
}

.error {
    color: red;
    font-size: 14px;
}